force-app/main/default/flows/CW_COURSE_ATTENDANCE.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>ad_assignment</name>
        <label>Ad Assignment</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>singleAd.UTM_Campaign__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>utm_campaign</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleAd.UTM_Content__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>utm_content</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleAd.utm_id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>utm_id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleAd.UTM_Medium__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>utm_medium</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleAd.UTM_Referer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>utm_referer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleAd.UTM_Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>utm_source</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleAd.UTM_Term__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>utm_term</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleAd.Campaign__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_campaigns.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Ad</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_campaign_member</name>
        <label>assign campaign member</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>sisngleCampaignMember.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_campaigns.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sisngleCampaignMember.LeadId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>singleLead.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sisngleCampaignMember.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Received</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Campaign_Member_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_lead_data</name>
        <label>assign lead data</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>singleLead.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Name.firstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleLead.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Name.lastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleLead.Company</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cohort 2 Registrations</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleLead.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>phone.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleLead.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>email.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleLead.Address</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>adress.street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleLead.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>adress.city</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleLead.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>adress.inputProvinceOptions</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleLead.Info_Session_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>info_session_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleLead.Ad__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>singleAd.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createLeadRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Ad_Assignment</name>
        <label>Copy 1 of Ad Assignment</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>singleAd.UTM_Campaign__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>utm_campaign</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleAd.UTM_Content__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>utm_content</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleAd.utm_id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>utm_id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleAd.UTM_Medium__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>utm_medium</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleAd.UTM_Referer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>utm_referer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleAd.UTM_Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>utm_source</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleAd.UTM_Term__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>utm_term</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NO_Campaign_Create_Ad</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_assign_lead_data</name>
        <label>Copy 1 of assign lead data</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>singleLead.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Name.firstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleLead.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Name.lastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleLead.Company</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cohort 2 Registrations</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleLead.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_phone.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleLead.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_email.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleLead.Address</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_adress.street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleLead.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_adress.city</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleLead.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_adress.inputProvinceOptions</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleLead.Info_Session_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_info_session_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleLead.Ad__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>singleAd.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_createLeadRecord</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CHECK_CAMPAIGN</name>
        <label>CHECK CAMPAIGN</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Ad_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NOT ACTIVE</defaultConnectorLabel>
        <rules>
            <name>ACTIVE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_campaigns.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ad_assignment</targetReference>
            </connector>
            <label>ACTIVE</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>CW COURSE ATTENDANCE {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>CW COURSE ATTENDANCE</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Copy_1_of_createLeadRecord</name>
        <label>Copy 1 of createLeadRecord</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>Thank_You</targetReference>
        </connector>
        <inputReference>singleLead</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Ad</name>
        <label>Create Ad</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>CW_COURSE</targetReference>
        </connector>
        <inputReference>singleAd</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Campaign_Member_Record</name>
        <label>Create Campaign Member Record</label>
        <locationX>50</locationX>
        <locationY>1118</locationY>
        <connector>
            <targetReference>Thank_You</targetReference>
        </connector>
        <inputReference>singleAd</inputReference>
    </recordCreates>
    <recordCreates>
        <name>createLeadRecord</name>
        <label>createLeadRecord</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>assign_campaign_member</targetReference>
        </connector>
        <inputReference>singleLead</inputReference>
    </recordCreates>
    <recordCreates>
        <name>NO_Campaign_Create_Ad</name>
        <label>NO Campaign Create Ad</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Copy_1_of_CW_COURSE</targetReference>
        </connector>
        <inputReference>singleAd</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_campaigns</name>
        <label>Get Campaigns</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CHECK_CAMPAIGN</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>utm_source</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Copy_1_of_CW_COURSE</name>
        <label>Copy 1 of CW COURSE</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_assign_lead_data</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_TextUtmData</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(240, 10, 10); font-size: 16px;&quot;&gt;AD s Data&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!utm_campaign}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!utm_content}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!utm_id}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!utm_medium}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!utm_source}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!utm_term}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_Name</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Copy_1_of_email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Copy_1_of_phone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Copy_1_of_adress</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Copy_1_of_info_session_date</name>
            <dataType>Date</dataType>
            <fieldText>info session date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CW_COURSE</name>
        <label>CW COURSE</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>assign_lead_data</targetReference>
        </connector>
        <fields>
            <name>TextUtmData</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(240, 10, 10); font-size: 16px;&quot;&gt;AD s Data&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!utm_campaign}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!utm_content}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!utm_id}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!utm_medium}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!utm_source}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!utm_term}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Name</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>phone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>adress</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>info_session_date</name>
            <dataType>Date</dataType>
            <fieldText>info session date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Thank_You</name>
        <label>Thank You</label>
        <locationX>182</locationX>
        <locationY>1334</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ThankYou</name>
            <fieldText>&lt;p&gt;THANK YOU FOR YOUR INTEREST.WE WILL GET CONTACT WITH YOU SOON!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_campaigns</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>singleAd</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Ad__c</objectType>
    </variables>
    <variables>
        <name>singleLead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>sisngleCampaignMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>utm_campaign</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>utm_content</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>utm_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>utm_medium</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>utm_referer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>utm_source</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>utm_term</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
